<ul>
  {{#each model as |project|}}
    <li>

     {{#link-to "project" project}} {{project.title}} {{/link-to}}

    </li>
  {{/each}}

</ul>
{{!-- {{page-numbers content=content}} --}}
{{!-- {{outlet}} --}}