<h2>Metrofuture/Ember In Action!</h2>

{{#link-to "projects"}}View all projects{{/link-to}}
{{#link-to "municipalities"}}View all municipalities{{/link-to}}
{{#link-to "subregions"}}View all subregions{{/link-to}}

<hr>


{{outlet}}
